---
import Footer from "../components/Footer.astro";
import "../styles/global.css";

interface Props {
    title: string;
    showHome?: boolean | undefined;
}

const { title, showHome = true } = Astro.props;

function enumeratePaths(remaining: string[], constructed: string[]) {
    const next = remaining.shift();
    if (next === undefined) {
        // Append the home selector in the base case
        return ["/", ...constructed];
    }

    constructed.push(`${constructed.join("")}/${next}`);
    return enumeratePaths(remaining, constructed);
}

/** The list of paths that should be included in the breadcrumbs */
const breadcrumbPaths = enumeratePaths(
    Astro.url.pathname.split("/").filter((s) => s !== ""),
    [],
);

// -1 would be the current, -2 is the URL to go "back" to
const backUrl = breadcrumbPaths[breadcrumbPaths.length - 2] ?? "/";
---

<!doctype html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            rel="preload"
            href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
            as="style"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
            rel="stylesheet"
        />
        <meta charset="UTF-8" />
        <meta name="description" content="Under construction - Portfolio site" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />

        <!-- Open Graph identifiers (ogp.me) -->
        <meta property="og:title" content={title} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url.toString()} />
        <meta property="og:image" content="/favicon.svg" />

        <title>{title}</title>
    </head>
    <body>
        <nav>
            <a style={!!showHome ? "" : "display: none"} href="/">Home</a>
            <a style={!!showHome ? "" : "display: none"} href={backUrl}>Back</a>
        </nav>
        <slot />
        <Footer />
    </body>
</html>
<style lang="less">
    body {
        flex-grow: 1;
        justify-content: space-between;
    }

    html,
    body {
        display: flex;
        flex-direction: column;
    }

    nav {
        display: flex;
        gap: 8px;
    }

    .footer {
        position: fixed;
        bottom: 0;
    }
</style>
