---
import { Image } from "astro:assets";
import Page from "./Page.astro";

interface Props {
    title: string;
    imgInfo?:
        | {
              src: string;
              alt: string;
          }
        | undefined;
}

const { title, imgInfo } = Astro.props;
---

<Page title={title} gutterPercent={10}>
    <div class="wrapper">
        {
            imgInfo !== undefined && (
                <>
                    <Image src={imgInfo.src} alt={imgInfo.alt} inferSize={true} loading="eager" />
                    <div class="caption">
                        <em>{imgInfo.alt}</em>
                    </div>
                </>
            )
        }
        <h2>{title}</h2>
        <slot />
    </div>
</Page>

<style lang="less">
    .wrapper {
        margin-top: 16px;
    }

    .caption {
        font-size: 14px;
        padding-bottom: 8px;
        color: hsl(0, 0%, 40%);
    }

    // Targets the `img` embedded in the Astro `Image` component
    img {
        height: auto;
        width: auto;
        max-width: min(100%, 500px);
        max-height: 400px;

        border-radius: 8px;
    }
</style>
